#searchForRestaurant{
    margin-right: 0px;
}

.follow-button{
    color: #fff !important;
}

.follow{
    color: #fff !important;
}

.unfollow{
    color: #fff !important;
}

.restaurant{
    padding-bottom: 20px;
}

.address{
    min-height: 48px;
}