<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Restaurants</li>
  </ol>
</nav>

<div class="row">
  <div class="col-sm-4 restaurant" *ngFor="let restaurant of restaurantList">
    <div class="card">
        <div class="alert" role="alert" style="min-height: 300px; margin-bottom: 0.5rem;">
            <div class="text-center" style="min-height: 200px;">
              <a class="" href="/restaurant/{{restaurant.id}}">
                <img src="{{restaurant.imageName}}" class="rounded mx-auto d-block" style="max-width: 160px; max-height: 200px;" alt="{{restaurant.name}}" />
              </a>
            </div>
            <div class="row">
              <div class="col-sm-12">
                  <div class="float-right">
                    <h4><span class="badge badge-pill badge-danger">{{restaurant.rate}}</span></h4>
                  </div>
              </div>  
            </div>
            <div style="min-height: 29px;">
              <a class="" href="/restaurant/{{restaurant.id}}">
                <b>{{restaurant.name}}</b>
              </a>
            </div>
            <!-- <button type="button" class="btn btn-info form-control form-group" (click)="goToRestaurantDetails($event, restaurant.id)">Restaurant Detail</button> -->
            <a class="btn btn-primary follow-button {{restaurant.isFollowing == 1 ? 'unfollow' : 'follow'}}" (click)="followOrUnfollow($event, restaurant)">{{restaurant.isFollowing === 1 ? "Unfollow" : "Follow"}}</a>
          </div>
    </div>
  </div>
</div>