<br>

<!-- Menu bar -->
<div class="container .px-2">
  <h1>Restaurants</h1>

  <button type="button" class="btn btn-success float-right .d-inline" onclick="$('#myModal').modal('show');">Add Restaurant</button>


</div>


<div class="tab-content col-8">
  <div class="tab-pane fade show active" id="fall" role="tabpanel" aria-labelledby="home-tab">
    <!-- Class Table Fall -->
    <table class="table table-striped">
      <br>
      <thead *ngIf="restNum!==0">
        <tr>
          <td>Name</td>
          <td>Style</td>
          <td>Address</td>
        </tr>
      </thead>
      <tbody id="rBody">

      </tbody>
    </table>

    <table class="table" id="rMess">
      <tr class="table-primary" *ngIf="restNum==0">
        <td>You have not added any Resturants. Click 'Add Restaurant' and add some!</td>
      </tr>

      <div *ngIf="restNum!==0">
      <tr class="table-primary"  >
        <tr *ngFor="let r of list"> <td  id="name{{r.name}}" [(ngModel)]="r.name">{{r.name}} </td> <td  id="style{{r.style}}" >{{r.style}}</td> <td id="address{{r.address}}" >{{r.address}}</td> <td><button (click)="deleteR(r)">X</button></td> <td><button  (click)="save(r)" onclick="$('#myModal').modal('show');">Edit Resturant</button></td> </tr>


    </div>
    </table>
  </div>

</div>
<!-- Add Class modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-secondary">
        <h5 class="modal-title" id="exampleModalLabel">Add Restaurant</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="Name" class="col-form-label">Name</label>
            <br>
            <input type="text" [(ngModel)]="newRestuarant.name" name="Name" id="Name" style="min-width:20em;">
          </div>
          <div class="form-group">
            <label for="Style" class="col-form-label">Style</label>
            <br>
            <input type="text" [(ngModel)]="newRestuarant.style" name="Style" id="Style" style="min-width:20em;">
          </div>
          <div class="form-group">
            <label for="Address" class="col-form-label">Address</label>
            <br>
            <input type="text" [(ngModel)]="newRestuarant.address" name="Address" id="Address" style="min-width:20em;">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="onAddCourseClick();" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>
