<div *ngIf="list">
<br>
<h1 style="text-align:center;">Welcome {{name}}</h1>
<!-- Menu bar -->
<div class="container .px-2">
  <h1>Restaurants</h1>

  <button type="button" class="btn btn-success float-right .d-inline" (click) = "clear()" onclick="$('#myModal').modal('show');">Add Restaurant</button>


</div>


<div class="tab-content col-8">
  <div class="tab-pane fade show active" id="fall" role="tabpanel" aria-labelledby="home-tab">
    <!-- Table -->
    <table class="table table-striped">
      <br>
      <thead *ngIf="list.length !== 0">

      </thead>
      <tbody id="rBody">
        <tr class="table-primary " *ngIf="list.length == 0">
          <td>You have not added any Resturants. Click 'Add Restaurant' and add some!</td>
        </tr>

        <div *ngIf="restNum!==0">
          <tr>
            <th>Name</th>
            <th>Style</th>
            <th>Address</th>
            <th>City</th>
            <th>Zip</th>

          </tr>
          <tr *ngFor="let r of list">
            <td  id="name{{r.restName}}" >{{r.restName}} </td>
            <td id="type{{r.restType}}" >{{r.restType}}</td>
            <td id="loc{{r.restLocation}}" >{{r.restLocation}}</td>
            <td id="city{{r.city}}" >{{r.city}}</td>
            <td id="zipcode{{r.zipCode}}" >{{r.zipCode}}</td>
             <td><button (click)="deleteR(r)">X</button></td>
             <td><button  (click)="save(r)" onclick="$('#myModal2').modal('show');">Edit Resturant</button></td>
          </tr>
      </div>
      </tbody>
    </table>

  </div>

</div>
<!-- Add Class modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-secondary">
        <h5 class="modal-title" id="exampleModalLabel">Add Restaurant</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="Name" class="col-form-label">Name</label>
            <br>
            <input type="text" [(ngModel)]="newRestuarant.restName" name="Name" id="Name" style="min-width:20em;">
          </div>
          <div class="form-group">
            <label for="Style" class="col-form-label">Style</label>
            <br>
            <input type="text" [(ngModel)]="newRestuarant.restType" name="Style" id="Style" style="min-width:20em;">
          </div>
          <div class="form-group">
            <label for="Address" class="col-form-label">Address</label>
            <br>
            <input type="text" [(ngModel)]="newRestuarant.restLocation" name="Address" id="Address" style="min-width:20em;">
          </div>
        </form>
        <div class="form-group">
          <label for="City" class="col-form-label">City</label>
          <br>
          <input type="text" [(ngModel)]="newRestuarant.city" name="City" id="City" style="min-width:20em;">
        </div>
        <div class="form-group">
          <label for="Zip" class="col-form-label">Zip</label>
          <br>
          <input type="text" [(ngModel)]="newRestuarant.zipCode" name="Zip" id="Zip" style="min-width:20em;">
        </div>
        <div class="form-group">
          <label for="Description" class="col-form-label">Description</label>
          <br>
          <input type="text" [(ngModel)]="newRestuarant.desc" name="Description" id="Description" style="min-width:20em;">
        </div>
        <div class="form-group">
          <label for="Link" class="col-form-label">Link</label>
          <br>
          <input type="text" [(ngModel)]="newRestuarant.link" name="Link" id="Link" style="min-width:20em;">
        </div>
        <div class="form-group">
          <label for="Picture" class="col-form-label">Picture</label>
          <br>
          <input type="text" [(ngModel)]="newRestuarant.picture" name="Picture" id="Picture" style="min-width:20em;">
        </div>
        <div class="form-group">
          <label for="News" class="col-form-label">News</label>
          <br>
          <textarea col = "30" type="text" [(ngModel)]="newRestuarant.news" name="News" id="News" style="min-width:20em;"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="onAddCourseClick();" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>
  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-secondary">
          <h5 class="modal-title" id="exampleModalLabel">Add Restaurant</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="Name" class="col-form-label">Name</label>
              <br>
              <label>{{newRestuarant.restName}}</label>
            </div>
            <div class="form-group">
              <label for="Style" class="col-form-label">Style</label>
              <br>
              <input type="text" [(ngModel)]="newRestuarant.restType" name="Style" id="Style" style="min-width:20em;">
            </div>
            <div class="form-group">
              <label for="Address" class="col-form-label">Address</label>
              <br>
              <input type="text" [(ngModel)]="newRestuarant.restLocation" name="Address" id="Address" style="min-width:20em;">
            </div>
          </form>
          <div class="form-group">
            <label for="City" class="col-form-label">City</label>
            <br>
            <input type="text" [(ngModel)]="newRestuarant.city" name="City" id="City" style="min-width:20em;">
          </div>
          <div class="form-group">
            <label for="Zip" class="col-form-label">Zip</label>
            <br>
            <input type="text" [(ngModel)]="newRestuarant.zipCode" name="Zip" id="Zip" style="min-width:20em;">
          </div>
          <div class="form-group">
            <label for="Description" class="col-form-label">Description</label>
            <br>
            <input type="text" [(ngModel)]="newRestuarant.description" name="Description" id="Description" style="min-width:20em;">
          </div>
          <div class="form-group">
            <label for="Link" class="col-form-label">Link</label>
            <br>
            <input type="text" [(ngModel)]="newRestuarant.restLink" name="Link" id="Link" style="min-width:20em;">
          </div>
          <div class="form-group">
            <label for="Picture" class="col-form-label">Picture</label>
            <br>
            <input type="text" [(ngModel)]="newRestuarant.restIMGLink" name="Picture" id="Picture" style="min-width:20em;">
          </div>
          <div class="form-group">
            <label for="News" class="col-form-label">News</label>
            <br>
            <textarea col = "30" type="text" [(ngModel)]="newRestuarant.restNews" name="News" id="News" style="min-width:20em;"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="update();" data-dismiss="modal">Submit</button>
        </div>
      </div>
    </div>



</div>
