<div class="col-12 col-md-12">
    <h3>
        Reviews ({{reviews ? reviews.length : 0}})
    </h3>
</div>

<div class="alert alert-secondary" role="alert" [hidden]="reviews && reviews.length">
    Be the first to add a review!
</div>

<div class="card" *ngFor="let review of reviews" style="margin-bottom:20px;">
    <div class="card-header">
        <app-restaurant-rating ratingValue="{{review.rating}}">

        </app-restaurant-rating>
    </div>
    <div class="alert alert-light" role="alert">
        <span class="float-left">{{review.userName}}</span>
        <span class="float-right">{{review.date | date}}</span>
        <br>
        <strong>"{{review.comment}}"</strong>
    </div>
</div>


<div class="card">
    <div class="card-header text-white bg-dark">
        <b>Add Review</b>
    </div>
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" class="alert alert-light" role="alert">
        <div class="row">
            <div class="form-group col-sm-8">
                <label>Your Name</label>
                <input class="form-control" required [(ngModel)]="curUser.username" name="userName" readonly/>
            </div>
            <div class="col-sm-2">
                <label> Rating </label>
                <select [(ngModel)]="newReview.rating" class="form-control" name="rating" required>
                    <option *ngFor="let i of [1,2,3,4,5]" [ngValue]="i">{{i}} stars</option>
                </select>
            </div>
            <div class="col-sm-2 reset-padding">
                <br />
                <app-restaurant-rating ratingValue="{{newReview.rating}}">

                </app-restaurant-rating>
            </div>
            <div class="form-group col-sm-12">
                <label>Comment</label>
                <textarea class="form-control" rows="5" required [(ngModel)]="newReview.comment" name="comment"></textarea>
            </div>
            <div class="form-group col-sm-12">
                <input [disabled]="!myForm.valid" type="submit" value="Submit" class="btn btn-sm btn-primary" />
            </div>
        </div>
    </form>
</div>